<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Listagem das Disciplinas</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/listar_disciplina.css">
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/notas.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<nav>
	<div class="nav-wrapper orange darken-3">
		<a href="#!" class="brand-logo">Logo</a>
		<ul class="right hide-on-med-and-down">
			<li><a href="sass.html"><i class="material-icons left">search</i>Link with Left Icon</a></li>
			<li><a href="badges.html"><i class="material-icons right">view_module</i><span th:text="${usuario.nome}"></span></a></li>
			<li><a href="/logout"><i class="material-icons right">exit_to_app</i>Logout</a></li>
		</ul>
	</div>
</nav>

</head>

<body>

	<div class="container">
		<div id="tabela">

			<h2>Lista das Disciplinas</h2>

			<table class="table table-hover" id="myTable">
				<thead>
					<tr>
						<th>Nome</th>
						<th>A1</th>
						<th>A2</th>
						<th>Faltas</th>
					</tr>
				</thead>
				<tbody>

					<tr th:each="alunoDisciplina : ${alunoDisciplina}">
						<td><span th:text="${alunoDisciplina.disciplina.nome}"></span></td>
						<td><span th:text="${alunoDisciplina.a1}"></span></td>
						<td><span th:text="${alunoDisciplina.a2}"></span></td>
						<td><span th:text="${alunoDisciplina.faltas}"></span></td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>

</body>

</html>