<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout-aluno}">

<head>
  <title>Portal Escolar Academic - Disciplinas</title>
</head>
<body>

        <!-- Begin Page Content -->
        <div class="container-fluid" layout:fragment="corpo">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800"><span th:text="${usuario.nome}"></span></h1>
          <p class="mb-4">Listagem de notas de faltas do alunos.</p>

          <div class="card shadow mb-4">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped" id="myTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th></th>
                          <th>Nome</th>
                          <th>A1</th>
                          <th>A2</th>
                          <th>Faltas</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr th:each="alunoDisciplina : ${alunoDisciplina}">
                          <td><i class="fas fa-fw fa-graduation-cap"></i></td>
                          <td><span th:text="${alunoDisciplina.disciplina.nome}"></span></td>
                          <td><span th:text="${alunoDisciplina.a1}"></span></td>
                          <td><span th:text="${alunoDisciplina.a2}"></span></td>
                          <td><span th:text="${alunoDisciplina.faltas}"></span></td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

</body>

</html>