<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cadastro de Aluno</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/novo_aluno.css">
    <script type="text/javascript" src="js/jquery-3.2.1.min"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <nav>
        <div class="nav-wrapper orange darken-3">
            <a href="#!" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons left">search</i>Link with Left Icon</a></li>
                <li><a href="badges.html"><i class="material-icons right">view_module</i><span th:text="${usuario.nome}"></span></a></li>
                <li><a href="/logout"><i class="material-icons right">exit_to_app</i>Logout</a></li>
            </ul>
        </div>
    </nav>

</head>

<body>
    <div class="container">
        <div id="tabela">
            <div class="row">
                <form class="col s12" th:action="@{/cadastrarAluno}" enctype="multipart/form-data" method="POST">
                    <h2>Cadastro de Aluno</h2>

                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input type="text" class="validate" name="nome" required>
                            <label>Nome</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="icon_telephone" type="text" class="validate" name="sobrenome" required>
                            <label for="icon_telephone">Sobrenome</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">fiber_pin</i>
                            <input id="matricula" type="text" class="validate" name="matricula" required>
                            <label for="matricula">Matrícula</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">assignment_ind</i>
                            <input id="login" type="text" class="validate" name="login" required>
                            <label for="login">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock</i>
                            <input id="senha" type="password" class="validate" name="senha" required>
                            <label for="senha">Senha</label>
                            <small id="passwordHelpBlock" class="form-text text-muted">
                                Sua senha precisa ter entre 8-20 caracteres, contendo letras e números e não pode conter espaços, caracteres especiais ou emojis.
                            </small>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">email</i>
                            <input type="email" name="email" id="email"  class="validate">
                            <label>Email do Aluno</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">email</i>
                            <input type="email" name="emailResponsavel" class="validate">
                            <label>Email do Responsável</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s6">
                            <div class="form-group">
                                <i class="material-icons prefix">image</i>
                                <label for="image">Foto de Perfil</label>
                                <input type="file" class="form-control-file" id="imagem" name="fileUsuario" required>
                            </div>
                        </div>
                    </div>

                    <button class="btn waves-effect waves-light orange darken-3" type="submit" name="action">Cadastrar
                        <i class="material-icons right">send</i>
                    </button>

                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>