<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout-professor}">

<head>
  <title>Portal Escolar Academic - Alunos</title>
</head>

<body>

        <!-- Begin Page Content -->
        <div class="container-fluid" layout:fragment="corpo">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 cor-principal"><span th:text="${disciplina.nome}"></span></h1>
          <p class="mb-4">Listagem de notas de faltas dos alunos referentes à disciplina selecionada.</p>

          <div class="card shadow mb-4">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th></th>
                          <th>Nome</th>
                          <th>Sobrenome</th>
                          <th>A1</th>
                          <th>A2</th>
                          <th>Faltas</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr th:each="alunoDisciplina : ${alunoDisciplina}">
                          <td><img alt="Image" onerror="this.style.display='none'" height="50px" width="50px" th:src="|/aluno/imagem/${alunoDisciplina.aluno.id_aluno}|"></td>
                          <td><span th:text="${alunoDisciplina.aluno.nome}"></span></td>
                          <td><span th:text="${alunoDisciplina.aluno.sobrenome}"></span></td>
                          <td><span th:text="${alunoDisciplina.a1}"></span></td>
                          <td><span th:text="${alunoDisciplina.a2}"></span></td>
                          <td><span th:text="${alunoDisciplina.faltas}"></span></td>
                          <td><a th:href="@{'/professor/' + ${disciplina.nome} + '/notas/' + ${alunoDisciplina.aluno.id_aluno}}"> <i class="small material-icons icon-orange">edit</i></a></td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

</body>

</html>
