<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout-secretaria}">

<head>
  <title>Portal Escolar Academic - Disciplinas</title>
</head>

<body>

        <!-- Begin Page Content -->
        <div class="container-fluid" layout:fragment="corpo">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Lista das Disciplinas</h1>
          <p class="mb-4">Listagem de todas as disciplinas cadastradas.</p>

          <div class="card shadow mb-4">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped" id="myTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th></th>
                          <th>Código</th>
                          <th>Nome</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr th:each="disciplina : ${disciplinas}">
                          <td><i class="fas fa-fw fa-graduation-cap"></i></td>
                          <td><span th:text="${disciplina.codigo}"></span></td>
                          <td><span th:text="${disciplina.nome}"></span></td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

</body>

</html>
