<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout-secretaria}">

<head>
  <title>Portal Escolar Academic - Professores</title>
</head>

<body>

        <!-- Begin Page Content -->
        <div class="container-fluid" layout:fragment="corpo">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Lista de Professores</h1>
          <p class="mb-4">Listagem de todos os professores cadastrados. Para incluir disciplinas, basta selecioná-lo.</p>

          <div class="card shadow mb-4">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th></th>
                          <th>Matrícula</th>
                          <th>Nome</th>
                          <th>Sobrenome</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr th:each="professor : ${professores}">
                          <td><i class="medium material-icons">person</i></td>
                          <td><span th:text="${professor.matricula}"></span></td>
                          <td><span th:text="${professor.nome}"></span></td>
                          <td><span th:text="${professor.sobrenome}"></span></td>
                          <td>
	                          <a th:href="@{'/secretaria/professor/disciplinas/' + ${professor.id_professor}}"> <i class="mr-3 fas fa-user-plus cor-principal"></i></a>
	                          <a th:if="${professor.usuario.ativo}"href="#"><i class="fas fa-fw fa-user-times text-success"></i></a>
	                          <a th:if="${!professor.usuario.ativo}" href="#"><i class="fas fa-fw fa-user-check text-danger"></i></a>
                          </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

</body>

</html>
