<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout-secretaria}">

<head>
  <title>Portal Escolar Academic - Alunos</title>
</head>

<body>

        <!-- Begin Page Content -->
        <div class="container-fluid" layout:fragment="corpo">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Lista de Alunos</h1>
          <p class="mb-4">Listagem de todos as alunos matriculados.</p>

          <div class="card shadow mb-4">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th></th>
                          <th>Matrícula</th>
                          <th>Nome</th>
                          <th>Sobrenome</th>
                          <th>(DELETE)</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr th:each="aluno : ${alunos}">
                          <td><img alt="Perfil" onerror="this.style.display='none'" height="50px" width="50px" th:src="|/aluno/imagem/${aluno.id_aluno}|"></td>
                          <td><span th:text="${aluno.matricula}"></span></td>
                          <td><span th:text="${aluno.nome}"></span></td>
                          <td><span th:text="${aluno.sobrenome}"></span></td>
                          <td><a href="#"><i class="fas fa-fw fa-user-slash cor-principal"></i></a></td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
        
</body>

</html>
