<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout-secretaria}">

<head>
<title>Portal Escolar Academic - Dashboard</title>
</head>

<body>

	<!-- Begin Page Content -->
	<div class="container-fluid" layout:fragment="corpo">

		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
		</div>

		<!-- Content Row -->
		<div class="row">

			<!-- Total de Alunos Cadastrados -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-primary shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div
									class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total
									de Alunos</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800"><span th:text="${quantidadeAlunos}"></span></div>
							</div>
							<div class="col-auto">
								<i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Total de Professores Cadastrados -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-warning shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div
									class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total
									de Professores</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800"><span th:text="${quantidadeProfessores}"></div>
							</div>
							<div class="col-auto">
								<i class="fas fa-chalkboard-teacher fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Total de Funcionários Cadastrados -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-info shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div
									class="text-xs font-weight-bold text-info text-uppercase mb-1">Total
									de Funcionários</div>
								<div class="row no-gutters align-items-center">
									<div class="col-auto">
										<div class="h6 mb-0 mr-3 font-weight-bold text-gray-800">not implemented</div>
									</div>
								</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-hard-hat fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Total de Disciplinas Cadastradas -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-success shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div
									class="text-xs font-weight-bold text-success text-uppercase mb-1">Total
									de Disciplinas</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800"><span th:text="${quantidadeDisciplinas}"></div>
							</div>
							<div class="col-auto">
								<i class="fas fa-school fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Total de Mensalidades dos Alunos -->
			<div class="col-xl-4 col-md-6 mb-4">
				<div class="card border-left-success shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div
									class="text-xs font-weight-bold text-success text-uppercase mb-1">Ganhos
									com Mensalidades</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">R$<span th:text="${totalMensalidades}"></div>
							</div>
							<div class="col-auto">
								<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Total de Salários dos Professores/Funcionários -->
			<div class="col-xl-4 col-md-6 mb-4">
				<div class="card border-left-danger shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div
									class="text-xs font-weight-bold text-danger text-uppercase mb-1">Gastos
									com Salários</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">R$<span th:text="${totalSalarios}"></div>
							</div>
							<div class="col-auto">
								<i class="fas fa-hand-holding-usd fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Balanço Mensal Positivo -->
			<div th:if="${balancoMensal > 0}" class="col-xl-4 col-md-6 mb-4" >
				<div class="card border-left-success shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div
									class="text-xs font-weight-bold text-success text-uppercase mb-1">Balanço 
									Mensal</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">R$<span th:text="${balancoMensal}"></div>
							</div>
							<div class="col-auto">
								<i class="fas fa-chart-line fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Balanço Mensal Negativo -->
			<div th:if="${balancoMensal < 0}" class="col-xl-4 col-md-6 mb-4" >
				<div class="card border-left-danger shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div
									class="text-xs font-weight-bold text-danger text-uppercase mb-1">Balanço 
									Mensal</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">R$<span th:text="${balancoMensal}"></div>
							</div>
							<div class="col-auto">
								<i class="fas fa-chart-line fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-12 mb-4">

				<!-- Illustrations -->
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Ilustração</h6>
					</div>
					<div class="card-body">
						<div class="text-center">
							<img class="img-fluid px-3 px-sm-4 mt-3 mb-4"
								style="width: 25rem;" src="img/flat.png" alt="">
						</div>
						<p>Bem vindo ao Portal Escolar - Academic Web!</p>
						<p>Neste portal você poderá realizar o cadastro de Alunos,
							Professores e verificar todos os alunos cadastrados, como os
							professores e as disciplinas.</p>
					</div>
				</div>

			</div>
		</div>

	</div>
	<!-- /.container-fluid -->

</body>

</html>
