#tabela{
    padding-top: 30px;
}

.row-centered{
	text-align: center;
}

.col-centered{
	display: inline-block;
	float: none;
	text-align: center;
}

.table td{
    vertical-align: middle;
}

i.icon-orange {
    color: #ef6c00;
}