<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Academic Web - Home</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="screen">
  <link rel="stylesheet" type="text/css" href="css/principal.css" media="screen">
  <link rel="stylesheet" type="text/css" href="css/glyphicon.css" media="screen">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
</head>

<body>

  <div class="header">
      <div class="container">
        <div class="header-left">
          <ul>
            <li>
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 21 5555 5555
            </li>
            <li>
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              <a href="mailto:info@example.com">info@example.com</a>
            </li>
          </ul>
        </div>
        <div class="header-right">
          <ul>
            <li>
              <a href="login">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Sign In
              </a>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
  </div>

  <div class="logo-navigation">
    <div class="container">

      <div class="logo">
        <a href="#">
          <h1>
            <img src="img/logo.png" alt="">
            <span>Inspire</span>
          </h1>
        </a>
      </div>

      <div class="navigation agileits">
        <nav class="navbar agileits navbar-default">
          <div class="navbar-header agileits">
            <button type="button" class="navbar-toggle agileits collapse" data-toggle="#navbar" aria-expanded="false"></button>
          </div>
          <div class="navbar-collapse agileits collapse hover-effect" id="navbar">
            <ul class="agileits">
              <li class="agileits">
                <a href="#" class="active">Home</a>
              </li>
              <li class="agileits">
                <a class="scroll" href="#">About</a>
              </li>
              <li class="agileits">
                <a class="scroll" href="#">Team</a>
              </li>
              <li class="agileits">
                <a class="scroll" href="#">Services</a>
              </li>
              <li class="agileits">
                <a class="scroll" href="#">Gallery</a>
              </li>
              <li class="agileits">
                <a class="scroll" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="clearfix"></div>

    </div>
  </div>

  <div class="banner">
    <h3>Teach students how</h3>
    <h2>
      <span>To </span>
      "learn"
    </h2>
    <h4>Our goal is to transform them</h4>
    <div class="arrow">
      <a href="#" class="scroll">
        <img src="img/arrow.png" alt=" ">
      </a>
    </div>
  </div>

	<!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>
